<div class="mt-3">
    <h1 class="text-center fw-light pt-2 text-light">DNS Lookup</h1>
    <div class="text-center text-light">
        <p>DNS query for <%= @domain %> returned from server: <%= @res.nameservers[0].to_s %> </p>
        <p>Have we seen this domain before? <%= @seenBefore %></p>
    </div>

    <div class="col-10 offset-1">
        <table class="table align-middle table-dark table-bordered table-hover">
            <tr>
                <th>Domain</th>
                <th>Record</th> 
                <th>Value</th>
                <th>TTL</th>
            </tr>
            <!-- A Record -->
            <% @a.each do |record| %>
                <% arr = record.to_a %>
                <tr> 
                    <td> <%= @domain %> </td>
                    <td> A </td>
                    <td> <%= arr.last %> </td>
                    <td> <%= arr[1] %>s </td>
                </tr>
            <% end %>

            <!-- MX Record -->
            <% @mx.each do |record| %>
                <% arr = record.to_a %>
                <tr> 
                    <td> <%= @domain %> </td>
                    <td> MX </td>
                    <td> <%= arr.last %> </td>
                    <td> <%= arr[1] %>s </td>
                </tr>
            <% end %>

             <!-- TXT Record -->
            <% @txt.each do |record| %>
                <tr> 
                    <td> <%= @domain %> </td>
                    <td> TXT </td>
                    <td> <%= record[1] %> </td>
                    <td> <%= record[0].to_a[1] %>s </td>
                </tr>
            <% end %>

            <!-- NS Record -->
            <% @ns.each do |record| %>
                <% arr = record.to_a %>
                <tr> 
                    <td> <%= @domain %> </td>
                    <td> NS </td>
                    <td> <%= arr.last %> </td>
                    <td> <%= arr[1] %>s </td>
                </tr>
            <% end %>

             <!-- SOA Record -->
            <% @soa.each do |record| %>
                <% arr = record.to_a %>
                <tr> 
                    <td> <%= @domain %> </td>
                    <td> SOA </td>
                    <td> <%= arr.last %> </td>
                    <td> <%= arr[1] %>s </td>
                </tr>
            <% end %>
        </table>
        
        <div class="mb-5">
            <%= link_to "Go Back", root_path, class:"btn btn-primary float-start" %>
            <% button_to "Historic DNS", show_historical_whois_path, method: 'get', class:"btn btn-primary float-end" %>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="mt-5">
                    <table class="table align-middle table-dark table-bordered table-hover table-sm">
                        <tr>
                            <th>WHOIS Data</th>
                        </tr>
                        <% @whoisData.each do |record| %>
                            <tr> 
                                <td> <%= record %> </td>
                            </tr>
                        <% end %>
                    </table>
                </div>
            </div>
            <%# <div class="col-6">
                <div class="mt-5">
                    <table class="table align-middle table-dark table-bordered table-hover table-sm">
                        <tr>
                            <th>Historical DNS</th>
                        </tr>
                    </table>
                </div>
            </div> %>
        </div>
    </div>
</div>
